.features-section {
  background-color: #f5efef;
  text-align: center;
  padding: 8% 0 8% 0;
}

.fire-icon {
  color: #c44627;
}

.fire-icon:hover {
  color: #96290e;
}

h4 {
  margin: 8% 0 5% 0;
  position: relative;
  align-items: center;
}

.myCenter {
  align-items: center;
}
.apple-icon {
  color: #1d1d1d;
}

.apple-icon:hover {
  color: #414141;
}

.card {
  background-color: rgb(85, 166, 48);
  opacity: 0.7;
  padding: 6px;
}

.card-header {
  background-color: rgb(81, 139, 33);
  opacity: 0.85;
}
.card2 {
  background-color: rgb(128, 185, 24);
  opacity: 0.7;
  padding: 6px;
}

.card-header2 {
  background-color: rgb(81, 139, 33);
  opacity: 0.85;
}

.card3 {
  background-color: rgb(170, 204, 0);
  opacity: 0.7;
  padding: 6px;
}

.card-header3 {
  background-color: rgb(81, 139, 33);
  opacity: 0.85;
}

.app-chart {
  background-color: rgb(255, 255, 255);
  font: larger;
}

.pad-small {
  margin-left: 5px;
  padding: 5px;
}

.amazon-icon {
  color: #1d1d1d;
}

.amazon-icon:hover {
  color: #bdb112;
}
.ebay-icon {
  color: #1d1d1d;
}

.ebay-icon:hover {
  color: #273c99;
}
.etsy-icon {
  color: #1d1d1d;
}

.etsy-icon:hover {
  color: #aa1919;
}
.img-thumbnail {
  background-color: rgba(0, 0, 0, 0);
}

.card4 {
  background-color: rgb(221, 240, 165);
  opacity: 0.7;
  padding: 6px;
}
