.features-section {
  background-color: #f5efef;
  text-align: center;
  padding: 8% 0 8% 0;
}

.fire-icon {
  color: #c44627;
}

.fire-icon:hover {
  color: #96290e;
}

h4 {
  margin: 8% 0 5% 0;
  position: relative;
  align-items: center;
}

.myCenter {
  align-items: center;
}
.apple-icon {
  color: #1d1d1d;
}

.apple-icon:hover {
  color: #414141;
}

.card {
  background-color: rgb(117, 214, 38);
  opacity: 0.7;
}

.card-header {
  background-color: rgb(81, 139, 33);
  opacity: 0.85;
}
